* {
  margin: 0;
  padding: 0;
}
:root {
  --theme-color: rgb(14, 14, 151);
}
/* NAVIGATION BAR  */
.navbar {
  /* border: 2px solid black; */
  height: 50px;
  display: flex;
  background-color: #ffffff; /* White background */
  color: #333333;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}
.navbar-title {
  font-size: 25px;
  margin-left: 70px;
  margin-top: 10px;
  color: var(--theme-color);
  /* color: black; */
}
ul {
  font-weight: bold;

  display: flex;
}
.navbar-content-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar-items {
  margin: 5px 20px;
  padding: 5px;
  list-style: none;
  font-size: 17px;
  color: var(--theme-color);
}
.navbar-items:hover {
  transform: translate(0, -5px);
  cursor: pointer;
  color: rgb(4, 4, 148);
  text-decoration: underline;
}
.nav-form {
  display: flex;
  padding: 10px;
  margin-right: 40px;
  border: none;
}
.nav-input {
  border: 1px solid var(--theme-color);
  padding: 10px;
  color: var(--theme-color);
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
  /* width: 80%; */
}
.nav-btn {
 border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: rgb(91, 91, 245);
  padding: 5px 30px;
  border-left: none;
  font-weight: bold;
}
.nav-btn:hover {
  background-color: rgb(4, 4, 148);
  cursor: pointer;
}
/* HERO SECTION  */

.hero-section{
  display: flex;
 
}
.hero-left{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 100px;
    margin-left: 0px;
}
.hero-title{
  
  
    /* border: 2px solid black;  */
    font-size: 60px;
    color: var(--theme-color);
    /* color: black; */
}
.hero-content{
    margin-left: -180px;
    /* color: var(--theme-color); */
    color: black;
    margin-top: 20px;
   
}
.hero-btn{

    border-radius: 5px;
    color: white;
    /* background-color: b */
    background-color: var(--theme-color);
    /* transition: background-color 0.5s, color 0.3s;  */
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    font-weight: bold;
    position: relative ;
    left: -140px;
    top: 20px;
    
}
.hero-btn:hover{
    /* background-color: rgb(4, 4, 148); */
    background-color: transparent;
    cursor: pointer;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    
}
.hero-right{
  /* overflow: hidden; */
}
.hero-image {
    width: 390px;
    height: 400px; 
   position: relative;
    top: 70px;
    border: 2px solid var(--theme-color);
    border-radius: 15px;
    
}
.hero2-section{
  background-color:rgb(91, 91, 245);
  width: 100%;
}
.hero2-title{
  text-align: center;
  font-size: 60px;
}
